<div class="fixed left-0 top-0 z-20 w-full flex flex-row items-center justify-between p-2 bg-white shadow-lg">

    <div class="w-32 h-20">
        <img class="w-32 h-20" src="" alt="">
    </div>

    {# <div id="cart" class="relative pr-5" onclick="openSideNavbar('background_rsn', 'right_side_navbar', 'translate-x-full')">
        menu
    </div> #}
    
     <div class="flex flex-row gap-x-2">
        <div>Inicio</div>
        <div>Nosotros</div>
        <div>Contactanos</div>
     </div>

</div>
