<div class="fixed left-0 top-0 z-20 flex flex-row items-center justify-between 
    w-full py-2 px-4 bg-primary-red_tone_1 shadow-lg shadow-secondary-gray_tone_2/70"
>
    {# Logo #}
    <div class="w-16 h-16">
        <img class="w-16 h-16" src="../static/images/pn-logo.png" alt="">
    </div>

    {# Open Menu Button (Mobile & SM Screens) #}
    <button type="button" id="open_menu" class="relative md:hidden p-2 bg-white 
        text-primary-red_tone_2 font-semibold rounded-md" 
        onclick="openSideNavbar('right_side_navbar', 'background_rsn', 'translate-x-full')"
    >Menú</button> 
    
    {# Navbar items (MD & larger Screens) #}
    <div class="hidden md:flex md:flex-row md:gap-x-4">
        <button type="button" class="nav_item p-2 font-semibold rounded-md"
            data-path="/"
        >Inicio</button>
        <button type="button" class="nav_item p-2 font-semibold rounded-md"
            data-path="/about_us"
        >Nosotros</button>
        <button type="button" class="nav_item p-2 font-semibold rounded-md"
            data-path="/contact_us"
        >Contactanos</button>
    </div>

</div>
