<div class="fixed left-0 top-0 z-20 w-full flex flex-row items-center justify-between p-2 bg-white shadow-lg">

    {# Logo #}
    <div class="w-20 h-20">
        <img class="w-20 h-20" src="../static/images/pn-logo.png" alt="">
    </div>

    {# Open Menu Button (Mobile & SM Screens) #}
    <button type="button" id="open_menu" class="relative md:hidden" 
        onclick="openSideNavbar('right_side_navbar', 'background_rsn', 'translate-x-full')"
    >Menú</button> 
    
    {# Navbar items (MD & larger Screens) #}
    <div class="hidden md:flex md:flex-row md:gap-x-4">
    <div>Inicio</div>
    <div>Nosotros</div>
    <div>Contactanos</div>
    </div>

</div>
