<!DOCTYPE html>
<html lang="en">
{% block head %}
{% endblock head %}
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../static/css/overflow.css">
</head>
<body>

    <section>
        {# Navbar #}
        {% include "components-base/navbar.html" %}
        {# Right Side Navbar #}
        {% include "components-base/right-side-navbar.html" %}
    </section>    

    {# Main content #}
    <section class="bg-gray-200">
        {% block content %}
        {% endblock content %}
    </section>

    <section>
        {# Footer #}
        {% include "components-base/footer.html" %}
    </section>

</body>
<script type="module" src="../static/js/base.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
<script src="../static/js/tailwind.config.js"></script>
</html>
