<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../static/css/overflow.css">
</head>
<body>

    <section class="bg-gray-200">
    </section>

    <section>
<div class="relative flex flex-col items-center justify-evenly gap-y-4 w-full 
    bg-secondary-gray_tone_2"
>    
    <div class="flex flex-col md:flex-row items-center justify-center gap-x-2 w-full p-6 text-white">
        <div class="flex flex-row items-center gap-x-2 border-b-2 border-transparent">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16" 
                class="bi bi-c-circle size-4"
            >
                <path d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.146 4.992c-1.212 0-1.927.92-1.927 2.502v1.06c0 1.571.703 2.462 1.927 2.462.979 0 1.641-.586 1.729-1.418h1.295v.093c-.1 1.448-1.354 2.467-3.03 2.467-2.091 0-3.269-1.336-3.269-3.603V7.482c0-2.261 1.201-3.638 3.27-3.638 1.681 0 2.935 1.054 3.029 2.572v.088H9.875c-.088-.879-.768-1.512-1.729-1.512"/>
            </svg>
            <div><span id="year_footer"></span> Praderas Nativas.</div>
        </div>
        <div>Todos los derechos reservados.</div>
    </div>

</div>    </section>

</body>
<script type="module" src="../static/js/base.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
<script src="../static/js/tailwind.config.js"></script>
</html>