<!-- Item 1 -->
<div class="hidden flex items-start justify-start size-full bg-[url(../static/images/pn-1.webp)] 
    bg-cover bg-center duration-500 ease-in-out" data-carousel-item
>
    <div class="max-w-xl p-4">
        <p class="bg-white/70 p-4 rounded-lg shadow-lg">
            Lorem ipsum dolor sit amet consectetur adipiscing elit commodo per auctor proin dictum malesuada, 
            interdum viverra metus habitant torquent suscipit magnis a leo morbi sodales. 
            Phasellus habitasse nec a convallis scelerisque elementum, ridiculus sagittis eget pulvinar ultricies 
            pretium nullam, euismod purus nam mi fringilla. Turpis dictumst maecenas potenti consequat orci dis 
            eget tincidunt vehicula per, nibh egestas at taciti laoreet nulla lacinia vitae ultrices nec, 
            libero quis rhoncus malesuada tortor primis arcu hac pretium.
        </p>
    </div>
</div>
<!-- Item 2 -->
<div class="hidden flex items-start justify-end size-full bg-[url(../static/images/pn-2.jpg)] 
    bg-cover bg-center duration-500 ease-in-out" data-carousel-item
>
    <div class="max-w-xl p-4">
        <p class="bg-white/70 p-4 rounded-lg shadow-lg">
            Porta blandit porttitor eleifend tempor leo tincidunt vitae fringilla senectus, pretium varius duis 
            vehicula placerat proin inceptos quisque fermentum dui, dis metus non pharetra nulla consequat sapien hac. 
            Vitae conubia tellus pretium donec morbi volutpat cras ante eleifend, posuere primis neque lobortis 
            ornare feugiat penatibus congue natoque, placerat odio pulvinar class aptent iaculis laoreet mi. 
            Tortor tempus neque sollicitudin suscipit cubilia blandit eget fermentum accumsan, netus nulla vestibulum 
            diam nostra imperdiet convallis.
        </p>
    </div>
</div>
<!-- Item 3 -->
<div class="hidden flex items-start justify-start size-full bg-[url(../static/images/pn-3.jpg)] 
    bg-cover bg-center duration-500 ease-in-out" data-carousel-item
>
    <div class="max-w-xl p-4">
        <p class="bg-white/70 p-4 rounded-lg shadow-lg">
            Lorem ipsum dolor sit amet consectetur adipiscing elit commodo per auctor proin dictum malesuada, 
            interdum viverra metus habitant torquent suscipit magnis a leo morbi sodales. 
            Phasellus habitasse nec a convallis scelerisque elementum, ridiculus sagittis eget pulvinar ultricies 
            pretium nullam, euismod purus nam mi fringilla. Turpis dictumst maecenas potenti consequat orci dis 
            eget tincidunt vehicula per, nibh egestas at taciti laoreet nulla lacinia vitae ultrices nec, 
            libero quis rhoncus malesuada tortor primis arcu hac pretium.
        </p>
    </div>
</div>
<!-- Item 4 -->
<div class="hidden flex items-start justify-end size-full bg-[url(../static/images/pn-4.jpg)] 
    bg-cover bg-center duration-500 ease-in-out" data-carousel-item
>
    <div class="max-w-xl p-4">
        <p class="bg-white/70 p-4 rounded-lg shadow-lg">
            Porta blandit porttitor eleifend tempor leo tincidunt vitae fringilla senectus, pretium varius duis 
            vehicula placerat proin inceptos quisque fermentum dui, dis metus non pharetra nulla consequat sapien hac. 
            Vitae conubia tellus pretium donec morbi volutpat cras ante eleifend, posuere primis neque lobortis 
            ornare feugiat penatibus congue natoque, placerat odio pulvinar class aptent iaculis laoreet mi. 
            Tortor tempus neque sollicitudin suscipit cubilia blandit eget fermentum accumsan, netus nulla vestibulum 
            diam nostra imperdiet convallis.
        </p>
    </div>
</div>
