<!-- Item 1 -->
<div class="hidden flex items-start justify-start size-full bg-[url(../static/images/cow-1.webp)] 
    bg-cover bg-center duration-500 ease-in-out" data-carousel-item
>
    <div class="max-w-xl p-4">
        <p class="bg-white/70 p-4 rounded-lg shadow-lg">
            Lorem ipsum dolor sit amet consectetur adipiscing elit commodo per auctor proin dictum malesuada, 
            interdum viverra metus habitant torquent suscipit magnis a leo morbi sodales.
        </p>
    </div>
</div>
<!-- Item 2 -->
<div class="hidden flex items-start justify-end size-full bg-[url(../static/images/cow-2.jpg)] 
    bg-cover bg-center duration-500 ease-in-out" data-carousel-item
>
    <div class="max-w-xl p-4">
        <p class="bg-white/70 p-4 rounded-lg shadow-lg">
            Porta blandit porttitor eleifend tempor leo tincidunt vitae fringilla senectus, pretium varius duis 
            vehicula placerat proin inceptos quisque fermentum dui, dis metus non pharetra nulla consequat sapien hac.
        </p>
    </div>
</div>
<!-- Item 3 -->
<div class="hidden flex items-start justify-start size-full bg-[url(../static/images/cow-3.jpg)] 
    bg-cover bg-center duration-500 ease-in-out" data-carousel-item
>
    <div class="max-w-xl p-4">
        <p class="bg-white/70 p-4 rounded-lg shadow-lg">
            Lorem ipsum dolor sit amet consectetur adipiscing elit commodo per auctor proin dictum malesuada, 
            interdum viverra metus habitant torquent suscipit magnis a leo morbi sodales. 
        </p>
    </div>
</div>
<!-- Item 4 -->
<div class="hidden flex items-start justify-end size-full bg-[url(../static/images/cow-4.jpg)] 
    bg-cover bg-center duration-500 ease-in-out" data-carousel-item
>
    <div class="max-w-xl p-4">
        <p class="bg-white/70 p-4 rounded-lg shadow-lg">
            Porta blandit porttitor eleifend tempor leo tincidunt vitae fringilla senectus, pretium varius duis 
            vehicula placerat proin inceptos quisque fermentum dui, dis metus non pharetra nulla consequat sapien hac.
        </p>
    </div>
</div>
