<div id="{% block carroussel_id %}{% endblock carroussel_id %}" class="relative size-full" 
    data-carousel="{% block carroussel_type %}{% endblock carroussel_type %}" 
    data-carousel-interval="{% block carroussel_interval %}{% endblock carroussel_interval %}"
>
    <!-- Carroussel Items -->
    <div class="relative size-full overflow-hidden">
        {% block carroussel_items %}
        {% endblock carroussel_items %}
    </div>
    
    <!-- Carroussel Indicadores -->
    <div class="z-30 absolute inset-2 flex items-end justify-center">
        <div class="flex flex-row gap-x-2 p-2 bg-white/80 rounded-full">
            {% block carroussel_indicators %}
            {% endblock carroussel_indicators %}
        </div>
    </div>

    <!-- Carroussel Controles -->
    {% block carroussel_controls %}
    {% endblock carroussel_controls %}
</div>
