{% extends "base.html" %}

{% block head %}
<head>
    <title>Praderas Nativas</title>
    <meta charset="UTF-8">
    <meta name="date" content="2025-02-05" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {# <link rel="icon" href="" type="image/x-icon"> #}
</head>
{% endblock head %}

{% block content %}
{# Main Carroussel #}
{# <div class="relative z-10 flex flex-col items-center justify-center gap-y-2 w-full h-screen bg-blue-50">
    {% include "components-index/main-carroussel.html" %}
</div> #}

{# Section #}
<div class="flex flex-col-reverse md:flex-row items-stretch justify-between 
    w-full h-screen p-4 md:p-8 bg-[url(../static/images/cow-1.webp)] bg-cover bg-center"
>
    <div class="self-center md:self-start flex justify-center size-64 md:size-72 bg-white/50 rounded-lg">
        <img src="static/images/pn-logo.png">
    </div>

    <a href="#contact_us" class="self-start size-fit p-2 bg-primary-red_tone_3 
        text-white text-xl rounded-lg hover:bg-primary-red_tone_3/70"
    >Contactanos</a>
</div>

{# Section #}
<div id="contact_us" class="relative z-10 flex flex-col items-start justify-center gap-y-2 w-full h-screen 
    p-4 bg-[url(../static/images/cow-4.jpg)] bg-cover bg-center"
>
    <div class="grid grid-cols-1 md:grid-cols-2 items-center justify-items-center gap-4 size-full">
        <div class="flex flex-col gap-y-4 items-center justify-evenly size-full max-w-md max-h-64
            p-4 bg-white rounded-lg shadow-md"
        >
            <div class="text-lg md:text-2xl">Praderas Nativas</div>
            <div class="text-md md:text-xl">+54 3400-662378</div>
        </div>
    </div>
</div>

{# Section #}
<div id="contact_us" class="relative z-10 flex flex-col items-end justify-center gap-y-2 w-full h-screen 
    p-4 bg-[url(../static/images/cow-2.jpg)] bg-cover bg-center"
>
    <!-- <div class="grid grid-cols-1 md:grid-cols-2 items-center justify-items-center gap-4 size-full">
        <div class="md:col-start-2 flex flex-col gap-y-4 items-center justify-evenly size-full max-w-md max-h-64
            p-4 bg-white rounded-lg shadow-md"
        >
            <div class="text-lg md:text-2xl">Pampa Norte</div>
            <div class="text-md md:text-xl">+54 3400-657310</div>
        </div>
    </div> -->
</div>

{# Section #}
<div id="contact_us" class="relative z-10 flex flex-col items-start justify-center gap-y-2 w-full h-screen 
    p-4 bg-[url(../static/images/cow-3.jpg)] bg-cover bg-center"
>
    <!-- <div class="grid grid-cols-1 md:grid-cols-2 items-center justify-items-center gap-4 size-full">
        <div class="flex flex-col gap-y-4 items-center justify-evenly size-full max-w-md max-h-64
            p-4 bg-white rounded-lg shadow-md"
        >
            <div class="text-lg md:text-2xl">Praderas Nativas</div>
            <div class="text-md md:text-xl">+54 3400-662378</div>
        </div>
    </div> -->
</div>
{% endblock content %}
