{% extends "base.html" %}

{% block head %}
<head>
    <title>Index</title>
    <meta charset="UTF-8">
    <meta name="date" content="2025-02-05" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {# <link rel="icon" href="" type="image/x-icon"> #}
    {# <link rel="stylesheet" href="{% static 'css/base.css' %}"> #}
    <script src="https://cdn.tailwindcss.com"></script>
</head>
{% endblock head %}

{% block content %}
<div class="flex flex-col items-center justify-center gap-y-2 p-4">
    <h2>Bienvenido a mi rincón de prueba</h2>
    <p>Esto es un test para ver si Pelican se porta bien.</p>
</div>
{% endblock content %}
