{% extends "base.html" %}

{% block head %}
<head>
    <title>Index</title>
    <meta charset="UTF-8">
    <meta name="date" content="2025-02-05" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {# <link rel="icon" href="" type="image/x-icon"> #}
    {# <link rel="stylesheet" href="{% static 'css/base.css' %}"> #}
</head>
{% endblock head %}

{% block content %}
<div class="relative z-10 flex flex-col items-center justify-center gap-y-2 w-full h-screen pt-24 bg-blue-50">
    {% include "components-index/main-carroussel.html" %}
</div>
</div>
{% endblock content %}
